<nav>
  <ul class="menu__list">
    <li class="menu__option">
      <a href="" class="menu__link"
        ><span class="menu__overlay">Inicio</span></a
      >
    </li>
    <li class="menu__option">
      <a href="" class="menu__link"
        ><span class="menu__overlay">Tienda</span></a
      >
    </li>
    <li class="menu__option">
      <a href="" class="menu__link"
        ><span class="menu__overlay">Contacto</span></a
      >
    </li>
    <!-- <li class="menu__option">
      <a href="" class="menu__link"
        ><span class="menu__overlay">Inicio</span></a
      >
    </li>-->
  </ul>
</nav>
